body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  width: 800px;
  margin: 0 auto;
}

.header {
  background-color: darksalmon;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 100px;
  padding: 10px;
  color: darkslategray;
  float: left;
  margin-top: 8px;
  font-size: x-large;
}
.header .menu {

  display: inline-block;
  list-style-type: none;
  float: right;
  font-size: x-large;
}

.footer {
  margin-top: 60px;
}

.footer .menu {
  display: inline-block;
}

.content {
  background-color: lightcyan;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: large;
}

.header .menu li{
  float: left;
  margin: 15px;
  padding: 0;
  list-style-type: none;
}

.contacts {
  display: inline-block;
  margin-left: 25px;
}